div#header-bottom-left {
	/* Set header background */
	@if $theme == light {
		background-color: $lightest;
	} @else {
		background-color: $darkest;
	}

	/* Fix spacing issues with subreddit title */
	span.pagename {
		display: inline-block;
	}
	
}

div#header {

	/* Get rid of the thin blue line */
	border: none;	
	
	/* Tabs */
	ul.tabmenu {
		padding-bottom: 15px;
		font-family: 'DejaVu Sans', 'Arial', sans-serif;
		
		li {
			
			a {
				background: none;
				text-transform: uppercase;
				font-weight: bold;
				padding: 15px;
				padding-bottom: 11px;
				
				@if $theme == light {
					color: $darkest;
				} @else {
					color: $lightest;
				}
				
				&:hover {
					border-bottom: 4px solid $dark;
				}
			}
			
			&.selected a {
				background: none;
				text-transform: uppercase;
				border: none;
				font-weight: bold;
				padding-bottom: 11px;
				border-bottom: 4px solid $accent-light;
				
				@if $theme == light {
					color: $darkest;
				} @else {
					color: $lightest;
				}
				
			}
			
		}
		
		
	}
	
}