/* Style shortcut & dashboard buttons to be consistent with subscribe */

.RESshortcutside, .RESDashboardToggle {	
	margin: 0 !important;
	text-align: left !important;
	letter-spacing: 0 !important;
	line-height: 14px !important;
	height: 14px !important;
	width: 278px !important;
	font-weight: 300 !important;
	font-size: 13px !important;
	display: block !important;
	position: relative !important;
	padding: 4px 8px 6px 8px !important;
	margin-bottom: 5px !important;
	
	@if $theme == light {
		@include bordered-box-override($light, $lightest, $darker);
	} @else {
		@include bordered-box-override($dark, $darker, $lightest);
	}
	
	&:first-letter {
		letter-spacing: .5em;
	}
	
	&:hover {
		@if $theme == light {
			color: $accent-dark !important;
		} @else {
			color: $accent-light !important;
		}
	}
	
	&.remove {
		@include bordered-box-override($accent-light, $lightest, $darker);
	  
		&:hover {
			color: $accent-dark !important;
		}
	  
	}
	
}

/* Change new comments notification color */
div.entry span.newComments {
	color: $alert-dark;
}

/* Selected link & comment styles */
.keyHighlight {
	background-color: $lightest !important;
	outline: none !important;
	border: none !important;
}

/* Get rid of border around the last clicked link */
.last-clicked {
	outline: none !important;
	border: none !important;
}