div.side {

	/* Search box */
	form#search {

		/* Overlap the second invisible table cell of announcement bar */
		position: relative;
		z-index: 1;
		
		input {
			text-align: center;
		}
		
	}
	
	/* Post info */
	div.linkinfo {
		@include bordered-box($light, $lightest, $darkest);
		
		.upvotes {
			color: $accent-dark;
		}
		
		.downvotes {
			color: $darker;
		}
		
	}
	
	div.titlebox {

		/* Hide horizontal breaks */
		hr {
			display: none;
		}		
		
		/* Subreddit name */
		div.redditname a:before {
			content: "/r/";			
		}
		
		/* Subscribe button */
		span.fancy-toggle-button {
			
			/* General style */
			a.option {
				@if $theme == light {
					@include bordered-box($light, $lightest, $darker);
				} @else {
					@include bordered-box($dark, $darker, $lightest);
				}
				
				width: 278px;
				text-align: left;
				margin: 0;
				padding: 4px 8px 6px 8px;
				line-height: 14px;
				height: 14px;
				font-weight: normal;
				font-size: 12px;
			
				&:first-letter {
					letter-spacing: .5em;
				}
				
				&.active {
					display: inline-block;
				}

			}
			
			/* If unsubscribed */
			a.add {
			
				&:before {
					content: "+";
				}
			
				&:hover {
					@if $theme == light {
						color: $accent-dark;
					} @else {
						color: $accent-light;
					}
				}
				
			}
		
			/* If subscribed */
			a.remove {
				@include bordered-box($accent-light, $lightest, $darker);
			
				&:before {
					content: "-";
				}
		
				&:hover {
					color: $accent-dark;
				}
		
			}
			
		}
		
		/* Subscriber count */
		span.subscribers {
			line-height: 25px;
			padding: 0px 2px 0px 0px;
			clear: both;
			float: none;
				
			span.number {
				font-size: 15px;
				font-weight: bold;			
			}
				
		}
		
		/* Online user count */
		p.users-online {
			display: inline;
			line-height: 25px;
			padding: 5px;

			span.number {
				font-size: 15px;
				font-weight: bold;

				&:before {
					content: "/ ";
					background: none !important;
				}
		
			}
				
			/* Remove obnoxious green circle */
			&:before {
				background: none;
				width: auto;
			}
				
		}

		/* Moderator and approved submitter boxes */
		div.leavemoderator, form.leavecontributor-button {
			@include bordered-box($accent-light, $lightest, $darker);
			padding: 5px 0px 5px 5px;
			margin-bottom: 5px;
			line-height: 10px;
			
			&:before {
				display: none;
			}
			
		}
				
		/* Flair toggle box */
		form.flairtoggle {
			@include bordered-box($accent-light, $lightest, $darker);
			padding: 5px 0px 5px 5px;
			line-height: 10px;
		}
		
		/* Flair preview box */
		div.tagline {
			@include bordered-box($accent-light, $lightest, $darker);
			padding: 5px 0px 5px 5px;
			margin: 0px;
			margin-bottom: 7px;
			line-height: 10px;
		}
		
		/* Main sidebar */
		div.usertext-body {
			
			.md {
				/* fixme */
				overflow: hidden !important;
	
				/* Announcement bar */
				blockquote {
				
					table {
						width: 100%;
						position: absolute;
						top: 127px;
						left: 0px;
						margin: 5px 10px;
						
						th {
						
							@if $theme == light {
								@include bordered-box($dark, $lighter, $darker);
							} @else {
								@include bordered-box($dark, $lightest, $darker);
							}
							
							margin: 15px;
							padding: 7px 7px 7px 13px;
							font-weight: normal;
							text-align: left;
							line-height: 15px;
						}
						
						th+th {
							width: 320px;
							border: none;
							padding: 0px;
							background: none;
						}
						
					}
					
				}
				
				/* Lists */
				ul {
					margin: 0 0 7px 0;
					line-height: 20px;
						
					li {
						@include bordered-box($light, $lightest, $darker);
						border-top: 1px solid lighten($light, 10%);
						border-left: 6px solid $lighter;
						width: 274px;
						display: none;
						padding: 7px 7px 9px 13px;
						margin: 0 0 -1px 0;
						text-align: left;
						line-height: 16px;

						&:hover {
							background-color: $lighter;
						}
						
						a:hover {
							color: black;
						}
						
						&:first-child {

							@if $theme == light {
								@include bordered-box($dark, $lighter, $darker);
							} @else {
								@include bordered-box($dark, $darker, $lightest);
							}
							
							display: inline-block;
							font-size: 15px;
							padding: 8px 12px 9px 8px;

							strong {
								font-weight: normal;
							}
							
							&:hover {
								@include bordered-box($accent-light, $lightest, $darker);
				
								a {
									color: #336699;
								}
					
							}
							
							a {
								color: $lightest;
							}
							
						}
						
					}
					
					/* Make lists pop out when hovered over */
					&:hover > li {
						display: block;
					}	
					
				}
				
				/* Lists - forced open for visibility */
				blockquote {
					border: none;
					margin: 0px;
					padding: 0px;
					
					& > ul > li {
						display: block;
					}
					
				}
	
			}
			
		}
		
	}

	/* Content below main sidebar */
	div.spacer {
	 
		div.sidecontentbox {

			div.title {
	
				h1 {
				
					@if $theme == light {
						@include bordered-box($dark, $lighter, $darker);
					} @else {
						@include bordered-box($dark, $darker, $lightest);
					}
					
					display: inline-block;
					width: 284px;
					text-align: left;
					font-size: 15px;
					letter-spacing: 0px;
					padding: 2px;
					padding-left: 8px;
					text-transform: lowercase;
					line-height: 27px;

					&:first-letter {
						text-transform: uppercase;
					}
					
				}
	
			}
		
			&.collapsible {
	
				div.title {

					span.collapse-button {
						display: none;
					}
			
				}
	
			}
			
			ul.content {
				padding: 5px;
				border: none;
				background-color: $lightest;
	
				ul.icon-menu {

					a {
						background: transparent;
					}
		
				}
	
			}
			
			a.helplink {
			
				@if $theme == light {
					color: $dark !important;
				} @else {
					color: $light !important;
				}
				
				position: relative;
				top: 22px;
				right: 6px;
				padding-left: 4px;
	
				&:hover {
				
					@if $theme == light {
						color: $darkest !important;
						border-left: 4px solid $accent-dark;
					} @else {
						color: $lightest !important;
						border-left: 4px solid $accent-light;
					}
					
				}
	 
			}
					 
		}

		/* Link & community buttons */
		div.morelink {
		
			@if $theme == light {
				@include bordered-box($dark, $lighter, $darker);
			} @else {
				@include bordered-box($dark, $darker, $lightest);
			}

			text-align: left;
			background-image: none;
			height: 31px;
			font-weight: normal;
			
			a {
				
				@if $theme == light {
					color: $darker;
				} @else {
					color: $lightest;
				}
				
				letter-spacing: 0px;
				padding-left: 8px;
				width: 280px !important;
			}
			
			&:hover {
				@include bordered-box($accent-light, $lightest, $darker);
	
				a {
					color: $darker;
				}
	
			}
			
			div.nub {
				display: none;
			}
			
			& ~ div.spacer {
				display: none;
			}
						
		}
		
	}
	
}