$light:        #AAAAAA;
$lighter:      #DDDDDD;
$lightest:     #F2F2F2;

$dark:         #808080;
$darker:       #333333;
$darkest:      #0F0F0F;

$accent-light: #33B5E5;
$accent-dark:  #0099CC;

$alert-dark:   #FF8800;

@import "../common";

div#header-bottom-left {
  background-color: #0F0F0F;
}

/* Hide "shutupandwrite" */
.pagename {
  visibility: hidden;
}

/* Preserve subreddit link as overlay */
.pagename a {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 100px;
  visibility: visible;
  color: $light;
  font-size: 1px !important;
  width: 190px !important;
  height: 150px !important;
}