$light:        #AAAAAA;
$lighter:      #DDDDDD;
$lightest:     #F2F2F2;

$dark:         #808080;
$darker:       #333333;
$darkest:      #0F0F0F;

$accent-light: #99CC00;
$accent-dark:  #669900;

$alert-dark:  #FF8800;

@import "../common";

.pagename, .pagename a {
 color: $lightest;
 font-size: 24px;
}