$theme:        light;

$light:        #AAAAAA;
$lighter:      #DDDDDD;
$lightest:     #F2F2F2;

$dark:         #808080;
$darker:       #333333;
$darkest:      #0F0F0F;

$accent-light: #84B045;
$accent-dark:  #006837;

$alert-dark:   #FF8800;

@import "../common";

.pagename, .pagename a {
	font-size: 24px;
}

/* Custom tables for sidebar
(This may be something to work into the overall stylesheet) */

div.usertext-body div.md {

	h3 {
		margin-top:1.5em;
		
		&:first-of-type {
			margin-top: 1em;
		}
	
	}
	
}

div.usertext-body div.md, div.wiki-page-content {
	
	table {
		margin-left: 0px;
		width: 100%;
		
		th {
			background: $lighter;
			border: none;
			padding: 5px;
			border-bottom: 3px solid $light;
		}
		
		td {
			background: $lightest;
			border: none;
			padding: 5px;
			
			a[href*="redd.it"] {
				width: 16px;
				height: 16px;
				margin: auto;
				overflow: hidden;
				display:block;
				background-image:url(%%info-icon%%);
			}
			
		}
		
		tr:hover td {
			background: $lighter;
		}
		
	}

}

/* Hide "WritingHub" */
.pagename {
	visibility: hidden;
}

/* Preserve subreddit link as overlay */
.pagename a {
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0px;
	visibility: visible;
	color: $light;
	font-size: 1px !important;
	width: 120px !important;
	height: 150px !important;
}