$theme:        light;

$light:        #AAAAAA;
$lighter:      #DDDDDD;
$lightest:     #F2F2F2;

$dark:         #808080;
$darker:       #333333;
$darkest:      #0F0F0F;

$accent-light: #FF4444;
$accent-dark:  #CC0000;

$alert-dark:   #FF8800;

@import "../common";

.pagename, .pagename a {
	font-size: 24px;
}

/* Custom tables for sidebar
(This may be something to work into the overall stylesheet) */

div.usertext-body div.md {

	table {
		margin-left: 0px;
		width: 100%;
		
		th {
			background: $lightest;
			border: 1px solid $lighter;
		}
		
		td {
			border: 1px solid $lighter;
		}
	
	}

}